[submodule "_repos/Bunco"]
	path = _repos/Bunco
	url = https://github.com/ChromaPIE/Bunco-ZHCN-Locale.git
[submodule "_repos/Steamodded"]
	path = _repos/Steamodded
	url = https://github.com/ChromaPIE/Steamodded.git
[submodule "_repos/D6-Jokers"]
	path = _repos/D6-Jokers
	url = https://github.com/ChromaPIE/D6-Jokers.git
[submodule "_repos/LobotomyCorp"]
	path = _repos/LobotomyCorp
	url = https://github.com/ChromaPIE/LobotomyCorp.git
[submodule "_repos/Cryptid"]
	path = _repos/Cryptid
	url = https://github.com/ChromaPIE/Cryptid.git
[submodule "_repos/twewy"]
	path = _repos/twewy
	url = https://github.com/ChromaPIE/The-World-Ends-With-Jimbo.git
[submodule "_repos/MikasBalatro"]
	path = _repos/MikasBalatro
	url = https://github.com/ChromaPIE/MikasBalatro-ZHCN-Locale.git
[submodule "_repos/Betmma"]
	path = _repos/Betmma
	url = https://github.com/ChromaPIE/betmma-mods-ZHCN-Locale.git
[submodule "_repos/098_DX-Tarots"]
	path = _repos/098_DX-Tarots
	url = https://github.com/ChromaPIE/DX-Tarots-ZHCN-Locale.git
[submodule "_repos/MystBlinds"]
	path = _repos/MystBlinds
	url = https://github.com/ChromaPIE/MystBlinds.git
[submodule "_repos/MathBlinds"]
	path = _repos/MathBlinds
	url = https://github.com/ChromaPIE/MathBlinds.git
[submodule "_repos/Ortalab"]
	path = _repos/Ortalab
	url = https://github.com/ChromaPIE/Ortalab-DEMO.git
[submodule "_repos/aiz-balatro-mod"]
	path = _repos/aiz-balatro-mod
	url = https://github.com/ChromaPIE/aiz-balatro-mod-ZHCN-Locale.git
[submodule "_repos/CruelBlinds"]
	path = _repos/CruelBlinds
	url = https://github.com/ChromaPIE/Cruel-Blinds.git
[submodule "_repos/CheesyJokers"]
	path = _repos/CheesyJokers
	url = https://github.com/ChromaPIE/CheesyJokers.git
[submodule "_repos/CodexArcanum"]
	path = _repos/CodexArcanum
	url = https://github.com/ChromaPIE/Codex-Arcanum-ZHCN-Locale.git
[submodule "_repos/SDM0"]
	path = _repos/SDM0
	url = https://github.com/ChromaPIE/Balatro-Mods.git
[submodule "_repos/Ro-Balatro"]
	path = _repos/Ro-Balatro
	url = https://github.com/ChromaPIE/Ro-Balatro.git
[submodule "_repos/SoulCraft"]
	path = _repos/SoulCraft
	url = https://github.com/ChromaPIE/SoulCraft.git
[submodule "_repos/JokerEvolution"]
	path = _repos/JokerEvolution
	url = https://github.com/ChromaPIE/Joker-Evolution.git
[submodule "_repos/BonusBlinds"]
	path = _repos/BonusBlinds
	url = https://github.com/ChromaPIE/BonusBlinds.git
[submodule "_repos/Aura"]
	path = _repos/Aura
	url = https://github.com/ChromaPIE/Aura.git
[submodule "_repos/KCVanilla"]
	path = _repos/KCVanilla
	url = https://github.com/ChromaPIE/kcvanilla.git
[submodule "_repos/098_5CEBalatro"]
	path = _repos/098_5CEBalatro
	url = https://github.com/ChromaPIE/5CEBalatro.git
[submodule "_repos/098_FusionJokers"]
	path = _repos/098_FusionJokers
	url = https://github.com/ChromaPIE/Fusion-Jokers.git
[submodule "_repos/098_JankJonklers"]
	path = _repos/098_JankJonklers
	url = https://github.com/ChromaPIE/JankJonklers-ZHCN-Locale.git
[submodule "_repos/098_Jestobiology"]
	path = _repos/098_Jestobiology
	url = https://github.com/ChromaPIE/Jestobiology.git
[submodule "_repos/Myst"]
	path = _repos/Myst
	url = https://github.com/ChromaPIE/BalatroMods.git
[submodule "_repos/098_PampaJokers"]
	path = _repos/098_PampaJokers
	url = https://github.com/ChromaPIE/balatro-pampa-joker-pack.git
[submodule "_repos/Cartomancer"]
	path = _repos/Cartomancer
	url = https://github.com/stupxd/Cartomancer.git
[submodule "_repos/Nopeus"]
	path = _repos/Nopeus
	url = https://github.com/jenwalter666/Nopeus.git
[submodule "_repos/Talisman"]
	path = _repos/Talisman
	url = https://github.com/ChromaPIE/Talisman.git
[submodule "_repos/StickersAlwaysShown"]
	path = _repos/StickersAlwaysShown
	url = https://github.com/SirMaiquis/Balatro-Stickers-Always-Shown.git
[submodule "_repos/098_BossJokers"]
	path = _repos/098_BossJokers
	url = https://github.com/ChromaPIE/BossJokers.git
[submodule "_repos/Galdur"]
	path = _repos/Galdur
	url = https://github.com/ChromaPIE/Galdur.git
[submodule "_repos/JankJonklers"]
	path = _repos/JankJonklers
	url = https://github.com/ChromaPIE/JankJonklers-ZHCN-Locale.git
